<header class="header">
  <div class="container">
    <!-- Логотип -->
    <a href="#" class="header__logo">
      <img src="img/COINBANK logo.png" alt="">
    </a>

    <!-- Кнопка-бургер (сниппет g-burger) -->
    <button class="btn-reset burger"
            aria-label="Открыть меню"
            aria-expanded="false"
            data-burger>
      <span class="burger__line"></span>
    </button>

    <!-- Навигация (обязательно с data-menu) -->
    <nav class="header__nav" data-menu>
      <ul class="header__list">
        <li><a href="#main" class="header__link" data-menu-item>Futures</a></li>
        <li><a href="#about" class="header__link" data-menu-item>Prices</a></li>
        <li><a href="#services" class="header__link" data-menu-item>Company</a></li>
        <li><a href="#contacts" class="header__link" data-menu-item>Developers</a></li>
      </ul>
      <div class="header__buttons">
        <button class="header__signin">Sign In</button>
        <button class="header__getstarted">Get Started</button>
      </div>
    </nav>
  </div>
</header>
